:root {
    --blue: #094c75;
    --dark-text: #171e27;
    --light-text: #4d4b4b   ;
    --green:#6cbe4c;
    --light-blue:#c9e8ef;
    --steel-blue:#3987c7;
    --sand:#dbbc84;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
}

.content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
}

.project-section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(201, 232, 239, 0.2);
}

h2{
    color: var(--blue);
    border-bottom: 2px solid var(--sand);
}

h3 {
    color: var(--steel-blue);
}
