body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #094c75;
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
}

.content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #dbbc84;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #666;
}

.project-section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 6px;
    backgroud-color: rgba(201, 232, 239, 0.2);
}

h3 {
    color: #3987c7;
}
